DECLARE @INICIO DATE = DATEADD(YEAR, -4, GETDATE());
DECLARE @IDENTIFICACION VARCHAR(20) = '115600682405';
DECLARE @FINAL DATE = (
    SELECT MAX(fecha_informacion) 
    FROM ReferenciasComerciales.dbo.DatoReferencia
    WHERE identificacion = @IDENTIFICACION
    AND fecha_informacion >= DATEADD(YEAR, -4, GETDATE())
);

-- Consulta principal con CTE
WITH CTE_Meses AS (
    SELECT DATEADD(MONTH, number, @INICIO) AS Fecha
    FROM master.dbo.spt_values
    WHERE type = 'P'
    AND DATEADD(MONTH, number, @INICIO) <= @FINAL
),
Proceso AS (
    SELECT 
        identificacion,
        fecha_informacion,
        dias_mora,
        fuente_informacion_id,
        CASE 
            WHEN dias_mora BETWEEN 1 AND 30 THEN 1
            WHEN dias_mora BETWEEN 31 AND 60 THEN 2
            WHEN dias_mora BETWEEN 61 AND 90 THEN 3
            WHEN dias_mora BETWEEN 91 AND 120 THEN 4
            WHEN dias_mora BETWEEN 121 AND 150 THEN 5
            WHEN dias_mora > 150 THEN 6
            ELSE 0
        END AS Clasificacion,
        CONVERT(VARCHAR(6), fecha_informacion, 112) AS Periodo
    FROM ReferenciasComerciales.dbo.DatoReferencia
    WHERE identificacion = @IDENTIFICACION
        AND fecha_informacion >= @INICIO
)
SELECT p.*,c.Cliente FROM Proceso p
LEFT JOIN ReferenciasComerciales.dbo.ClienteFuente c
	ON p.fuente_informacion_id = c.Id
,
-- Obtenemos todas las fuentes que tienen datos para esta identificación
FuentesConDatos AS (
    SELECT DISTINCT fuente_informacion_id
    FROM Proceso
    WHERE fuente_informacion_id IS NOT NULL
),
-- Combinamos todos los meses con todas las fuentes
TodosLosDatos AS (
    SELECT 
        m.Fecha,
        f.fuente_informacion_id,
        @IDENTIFICACION AS identificacion,
        p.dias_mora,
        p.Clasificacion,
        p.fecha_informacion AS FechaOriginal,
        CASE WHEN p.Clasificacion IS NULL THEN 1 ELSE 0 END AS EsMesSinDatos,
        CONVERT(VARCHAR(6), m.Fecha, 112) AS PeriodoMes
    FROM CTE_Meses m
    CROSS JOIN FuentesConDatos f
    LEFT JOIN Proceso p ON CONVERT(VARCHAR(6), m.Fecha, 112) = p.Periodo 
                        AND f.fuente_informacion_id = p.fuente_informacion_id
),
-- Preparamos datos para el histórico
DatosParaHistorico AS (
    SELECT 
        identificacion,
        fuente_informacion_id,
        Fecha,
        CASE 
            WHEN EsMesSinDatos = 1 THEN 'X'
            ELSE CAST(Clasificacion AS VARCHAR)
        END AS ClasificacionStr,
        LEFT(DATENAME(MONTH, Fecha), 3) + '-' + FORMAT(Fecha, 'yy') AS MesAnio,
        CASE WHEN EsMesSinDatos = 1 THEN NULL ELSE dias_mora END AS dias_mora,
        CASE WHEN EsMesSinDatos = 1 THEN NULL ELSE Clasificacion END AS Clasificacion,
        FechaOriginal
    FROM TodosLosDatos
)SELECT * FROM DatosParaHistorico,
-- Calculamos totales por fuente
TotalesPorFuente AS (
    SELECT 
        identificacion,
        fuente_informacion_id,
        SUM(dias_mora) AS DiasMoraTotal,
        MAX(FechaOriginal) AS UltimaFecha
    FROM TodosLosDatos
    WHERE EsMesSinDatos = 0
    GROUP BY identificacion, fuente_informacion_id
),

-- Construimos el histórico agrupado
HistoricoAgrupado AS (
    SELECT 
        identificacion,
        fuente_informacion_id,
        STRING_AGG(ClasificacionStr, '-') WITHIN GROUP (ORDER BY Fecha) AS Historico,
        STRING_AGG(MesAnio, '/') WITHIN GROUP (ORDER BY Fecha) AS HistoricoMes
    FROM DatosParaHistorico
    GROUP BY identificacion, fuente_informacion_id
)

-- Resultado final - una fila por identificación + fuente
SELECT 
    h.identificacion,
    h.fuente_informacion_id,
    t.UltimaFecha AS fecha_informacion_mas_reciente,
    ISNULL(t.DiasMoraTotal, 0) AS DiasMoraTotal,
    h.Historico,
    h.HistoricoMes
FROM HistoricoAgrupado h
LEFT JOIN TotalesPorFuente t ON 
    h.identificacion = t.identificacion AND 
    h.fuente_informacion_id = t.fuente_informacion_id
WHERE h.fuente_informacion_id IS NOT NULL
ORDER BY h.fuente_informacion_id;